<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTranasctionModalLabel">Add Transaction</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="idOfLand">Corresponding Land's Id</label>
                
                  <input formControlName="idOfLand" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="newOwnerId">New Owner's Id</label>
                
                  <input formControlName="newOwnerId" type="text" class="form-control">
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Upload a .csv File</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="csvFormAdd()">
        <div class="modal-body">
        <input type="file" name="csvFile" id="csvFile" />
        </div>
        <div class="modal-footer">
          <button (click)="csvFormAdd()" type="submit" class="btn btn-success" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='transactionName'>Land Transactions</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadFileModal"><span class="glyphicon glyphicon-folder-open"></span> Upload a .csv file</button>
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTransactionModal">Add Transaction</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">New ID of the land</th>
            
                <th class="info">New Owner's ID</th>

                <th class="info">Transaction ID</th>

                <th class="info">Transaction TimeStamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of allTransactions">

            
                <td>{{transaction.idOfLand}}</td>
            
                <td>{{transaction.newOwnerId}}</td>

                <td>{{transaction.transactionId}}</td>

                <td>{{transaction.timestamp}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
