<div class="container">
	<div class="jumbotron">
		<h1>Students Record Application</h1>
		<p>A record keeping of IITM students data.</p>
		<p>This website allows users to view students of Electrical Engineering who are pursuing Bachelors of Technology. More precisely, it lets us see the people pursuing B.Tech at IIT Madras in Electrical Engineering who joined in the years 2014,2015,2016 and 2017.</p>
		<p>I am Yadugiri Saikumar, B.Tech in Electrical Engineering at IIT Madras. I developed this website using AngularJS as a part of my B.Tech project under the guide Shweta Agrawal and the co-guide Krishna Jagannathan. What makes this website stand out from others is that the underlying structure is not RDBMS but Blockchains. I developed this entire platform using Hyperledger Composer.</p>
		<p>For more information, visit <a href="https://hyperledger.github.io/composer/latest/">Hyperledger Composer</a>.</p>
		<p>- Yadugiri Saikumar, EE14B067 2018.</p>
	</div>
</div>
