<div class="container">
	<div class="jumbotron">
		<h1>Land Record Network</h1>
		<p>A record keeping of land data based on virtual data created.</p>
		<p>This website allows users to view records of lands present, their owners and all the different kinds of transactions that have happened regarding the concerned land.</p>
		<p>I am Yadugiri Saikumar, B.Tech in Electrical Engineering at IIT Madras. I developed this website using AngularJS as a part of my B.Tech project under the guide Shweta Agrawal and the co-guide Krishna Jagannathan. What makes this website stand out from others is that the underlying structure is not RDBMS but Blockchains. I developed this entire platform using Hyperledger Composer.</p>
		<p>For more information, visit <a href="https://hyperledger.github.io/composer/latest/">Hyperledger Composer</a>.</p>
		<p>- Yadugiri Saikumar, EE14B067 2018.</p>
	</div>
</div>
